<div class="teaser teaser--blue-gray contact-info">
    <div class="contact-info__heading">
        <h3 class="headline-group">Special Collections Research Center - Closed</h3>
        <div class="editorial">
            <p>The Breckinridge Research Room will re-open the week of August 24th in the Lucille Caudill Little Fine Arts Library, room 208.</p>
            <p>Appointments are required.</p>
            <p><b>Hours of operation:</b><br>
                Tuesday-Thursday, 10 a.m. to 4 p.m.</p>
            <p>
                <a class="underline-link" href="https://libraries.uky.edu/ContactSCRC">Contact SCRC</a> with questions.
            </p>

            <!--<p>
                Don't have an account? <a class="underline-link" href="https://requests-libraries.uky.edu/">Register with your LinkBlue</a><br>
                Non-UK user?  <a class="underline-link" href="https://requests-libraries.uky.edu/aeonauth/aeon.dll?Action=10&Form=79">Create an account</a><br>
                Need account help? <a class="underline-link" href="https://libguides.uky.edu/SCRCaccount">View account set‑up and use instructions</a><br>
            </p>-->
        </div>
    </div>
</div>