    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png?v=m2LeKYRNPO">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=m2LeKYRNPO">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=m2LeKYRNPO">
    <link rel="manifest" href="/site.webmanifest?v=m2LeKYRNPO">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=m2LeKYRNPO" color="#005dab">
    <link rel="shortcut icon" href="/favicon.ico?v=m2LeKYRNPO">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://webcdn.uky.edu/limestone/1.0.0/css/style.css" as="style">
    <script defer src="https://webcdn.uky.edu/limestone/1.0.0/js/lib/jquery-accessible-tabs-aria.js"></script>
    <script defer src="https://webcdn.uky.edu/limestone/1.0.0/js/toggle-button.js"></script>
    <script defer src="https://webcdn.uky.edu/limestone/1.0.0/js/modals.js"></script>
    <script defer src="https://webcdn.uky.edu/limestone/1.0.0/js/lib/masonry.pkgd.min.js"></script>
    <script defer src="https://webcdn.uky.edu/limestone/1.0.0/js/lib/imagesloaded.pkgd.min.js"></script>
    <script defer src="https://webcdn.uky.edu/limestone/1.0.0/js/lib/jquery.magnific-popup.min.js"></script>
    <script defer src="https://webcdn.uky.edu/limestone/1.0.0/js/image-gallery.js"></script>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#005dab">
