<div class="alert alert-warning">
<p>
Researchers are required to have an SCRC Researcher Account in order to request or order digital copies of materials.  Research Account set-up and use instructions can be found at: <a href="http://libguides.uky.edu/SCRCaccount">http://libguides.uky.edu/SCRCaccount</a>
</p>

<p>
If you are visiting the Breckinridge Research Room, please request materials at least 48 business hours in advance of your arrival.
</p>

<p>
For all other questions, contact us at: <a href="https://libraries.uky.edu/ContactSCRC">https://libraries.uky.edu/ContactSCRC</a>.
</p>
</div>
