<div class="alert in-page-alert">
    <h2>UK Libraries Special Collections Research Center</h2>
    <p><strong>Hours:</strong> Monday–Friday, 10:00 AM–4:00 PM. Appointments recommended.</p>
    <h3>Plan your visit</h3>
    <p>There are two steps to prepare for your research visit:</p>

    <ol>
        <li>
            <strong>Request materials</strong> from this collection guide using your <a class="underline-link" href="https://requests-libraries.uky.edu/">SCRC Researcher Account</a>.
        </li>
        <li>
            <strong><a class="underline-link" href="https://libguides.uky.edu/SCRCaccount/appointment">Schedule your appointment</a></strong>
        </li>
    </ol>

    <p>
        <!--Don't have an account? <a class="underline-link" href="https://requests-libraries.uky.edu/">Register with your LinkBlue</a><br>
        Non-UK user?  <a class="underline-link" href="https://requests-libraries.uky.edu/aeonauth/aeon.dll?Action=10&Form=79">Create an account</a><br>-->
        Need account help? <a class="underline-link" href="https://libguides.uky.edu/SCRCaccount">View account set‑up and use instructions</a><br>
        Questions? <a class="underline-link" href="https://libraries.uky.edu/ContactSCRC">Contact SCRC</a>
    </p>
</div>
