<div class="alert alert-warning">
    <p>Researchers are encouraged to request collections at least 48 business hours in advance for retrieval. Questions? Contact us at <a href="https://libraries.uky.edu/ContactSCRC">https://libraries.uky.edu/ContactSCRC</a>.</p>
</div>
