<div class="panel panel-default" id="{{heading_id}}">
  <div class="panel-heading" {{#collapsible}}data-toggle="collapse" data-target="#{{body_id}}" aria-expanded="true"{{/collapsible}}>
      <h4 class="panel-title">{{label}}</h4>
  </div>
  <div class="panel-body{{#collapsible}} collapse in{{/collapsible}}" id="{{body_id}}">
    <ul class="list-unstyled">
    {{#container_lists}}
    {{{container_list}}}
    {{/container_lists}}
    </ul>
    {{#scopecontent}}
    {{p}}
    {{/scopecontent}}
    {{#subcomponents}}
    {{{subcomponent}}}
    {{/subcomponents}}
  </div>
</div>
