<!--TODO: Section labels removed inadventantly? -->

<div id="{{heading_id}}" class="slab fa-component left-border">
  <div class="slab__wrapper">
    {{#collapsible}}
    <div class="js-accordion">
      <div class="js-accordion__panel">
        <h3 class="js-accordion__header headline-group">
          <span class="headline-group__head">{{{label}}}</span>
        </h3>
        <div class="editorial">
          {{#has_media}}
          <div class="image-gallery">
            <div class="image-gallery__block-sizer"></div>
            {{#links}}
            {{> media}}
            {{/links}}
          </div>
          {{#has_image_overflow}}
          <p class="image-gallery__controls">{{> image_controls}}</p>
          {{/has_image_overflow}}
          {{/has_media}}
          {{#container_lists}}
          <ul class="fa-component list-unstyled">
            {{{container_list}}}
          </ul>
          {{/container_lists}}
          {{#bioghist_head}}
          <h3>{{{p}}}</h3>
          {{/bioghist_head}}
          {{#bioghist}}
          <p>{{{p}}}</p>
          {{/bioghist}}
          {{#scopecontent_head}}
          <h3>{{{p}}}</h3>
          {{/scopecontent_head}}
          {{#scopecontent}}
          <p>{{{p}}}</p>
          {{/scopecontent}}
          {{#processinfo}}
          <p>{{{p}}}</p>
          {{/processinfo}}
          {{#subcomponents}}
          {{{subcomponent}}}
          {{/subcomponents}}
        </div>
      </div>
    </div>
    {{/collapsible}}

    {{^collapsible}}
    <h3 class="headline-group">
      <span class="headline-group__head">{{{label}}}</span>
    </h3>
    <div class="editorial">
      {{#has_media}}
      <div class="image-gallery">
        <div class="image-gallery__block-sizer"></div>
        {{#links}}
        {{> media}}
        {{/links}}
      </div>
      {{#has_image_overflow}}
      <p class="image-gallery__controls">{{> image_controls}}</p>
      {{/has_image_overflow}}
      {{/has_media}}
      <ul class="container_list list-unstyled">
        {{#container_lists}}
        {{{container_list}}}
        {{/container_lists}}
      </ul>
    </div>
    {{/collapsible}}
  </div>
</div>
