<div id="{{heading_id}}" class="slab fa-component">
  <div class="slab__wrapper">
    {{#collapsible}}
    <div class="js-accordion">
      <div class="js-accordion__panel">
        <h3 class="js-accordion__header headline-group">
          <span class="headline-group__head">{{{label}}}</span>
        </h3>
        <div class="editorial">
          {{> media}}
          {{#container_lists}}
          <ul class="fa-component list-unstyled">
            {{{container_list}}}
          </ul>
          {{/container_lists}}
          {{#bioghist}}
          <p>{{{p}}}</p>
          {{/bioghist}}
          <!--TODO: Removed labels on purpose? -->
          {{#scopecontent_head}}
            <h3>{{{p}}}</h3>
          {{/scopecontent_head}}
          {{#scopecontent}}
          <p>{{{p}}}</p>
          {{/scopecontent}}
          {{#processinfo}}
          <p>{{{p}}}</p>
          {{/processinfo}}
          {{#subcomponents}}
          {{{subcomponent}}}
          {{/subcomponents}}
        </div>
      </div>
    </div>
    {{/collapsible}}

    {{^collapsible}}
    <h3 class="headline-group">
      <span class="headline-group__head">{{{label}}}</span>
    </h3>
    <div class="editorial">
      {{> media}}
      <ul class="container_list">
        {{#container_lists}}
        {{{container_list}}}
        {{/container_lists}}
      </ul>
    </div>
    {{/collapsible}}
  </div>
</div>
