<li class="list-group-item d-flex justify-content-between align-items-center clearfix">
  {{summary}}
  <input type="hidden" class="fa-requestable" id="{{id}}" value="{{container_list}}" data-volume="{{volume}}" data-container="{{container}}">
</li>
