<li class="list-unstyled container_list_item">
  <p>{{summary}}</p>
  <input type="hidden" class="fa-requestable" id="{{id}}" value="{{container_list}}" data-volume="{{volume}}" data-container="{{container}}">
</li>
