<li>
  {{summary}}
  <input type="hidden" id="{{request_target}}" value="{{summary}}">
  <button type="button" id="{{request_target}}-button" class="btn btn-warning fa-request fa-request-hidden" data-active="{{active}}" data-inactive="{{inactive}}" data-status="inactive" data-target="{{request_target}}">{{inactive}}</button>
</li>
