<button type="button" class="click-to-load-images button" aria-label="Show more images">more</button>
<button type="button" class="click-to-load-all-images fa-hidden button" aria-label="Show all images">all</button>
