<a class="click-to-load-images">
<span class="glyphicon glyphicon-plus" aria-disabled="true"></span> more
</a>
<a class="click-to-load-all-images fa-hidden">
<span class="glyphicon glyphicon-plus" aria-disabled="true"></span> all
</a>
