<a class="click-to-load-images button">
  <span class="" aria-disabled="true"></span> more
</a>
<a class="click-to-load-all-images fa-hidden button">
  <span class="" aria-disabled="true"></span> all
</a>
