<div>
{{#links}}
  {{#image}}
  <a href="{{full}}" data-lity><img src="{{thumb}}"/></a>
  {{/image}}
  {{#audio}}
  <p class="click-to-play-audio" data-id="{{href_id}}" data-href="{{href}}"><span class="glyphicon glyphicon-play"></span><br>play</p>
  {{/audio}}
  {{#video}}
  <p class="click-to-play-video" data-id="{{href_id}}" data-href="{{href}}"><span class="glyphicon glyphicon-play"></span><br>play</p>
  {{/video}}
{{/links}}
</div>
