<div class="fa-section" id="{{heading_id}}">
  <h3>{{{label}}}</h3>
  <div id="{{body_id}}">
    {{single-field}}
    {{#multi-field}}
    <dl id="{{field_id}}">
    <dt>{{label}}</dt>
    {{#entries}}
    <dd>{{{content}}}</dd>
    {{/entries}}
    </dl>
    {{/multi-field}}
    {{#components}}
    {{{component}}}
    {{/components}}
  </div>
</div>
