<!--<div class="fa-section" id="{{heading_id}}">-->
<div class="editorial" id="{{heading_id}}">
  <h2 class="headline-group">
    <span class="headline-group__head">{{{label}}}</span>
  </h2>
  <div class="editorial" id="{{body_id}}">
    {{single-field}}
    {{#multi-field}}
      <dl id="{{field_id}}">
      <dt>{{label}}</dt>
      {{#entries}}
      <dd>{{{content}}}</dd>
      {{/entries}}
      </dl>
    {{/multi-field}}
    {{#expandable}}
    <div class="fa-expand-all-wrap">
      <button type="button" class="button fa-expand-all" data-state="collapsed">Expand all</button>
    </div>
    {{/expandable}}
    <div id="components">
      {{#components}}
      {{{component}}}
      {{/components}}
    </div>
  </div>
</div>

