<div class="panel panel-default" id="{{heading_id}}">
  {{> panel_heading }}
  <div class="panel-body{{#collapsible}} collapse in{{/collapsible}}" id="{{body_id}}">
    {{single-field}}
    {{#multi-field}}
    <dl id="{{field_id}}">
    <dt>{{label}}</dt>
    {{#entries}}
    <dd>{{{content}}}</dd>
    {{/entries}}
    </dl>
    {{/multi-field}}
    {{#components}}
    {{{component}}}
    {{/components}}
  </div>
</div>
