<div class="col-md-6 fa-request-summary fa-long">
  {{> advance_note}}
  <div class="panel panel-default" id="{{id}}">
    <div class="panel-heading">
      <h4 class="panel-title">{{label}}</h4>
    </div>
    <div class="panel-body">
      <h4 class="fa-request-summary-note fa-request-hidden">
        No items have been requested.
      </h4>
      <ul class="fa-request-ul list-unstyled fa-long" id="{{list_id}}">
      </ul>
      <form class="fa-request-fieldset" action="https://requests-libraries.uky.edu/logon" method="post" target="_blank">
      <div class="fa-extra-options fa-request-hidden">
        <label for="SpecialRequest">Special Requests/Questions?
            <input class="fa-extra-input" type="textarea" id="fa-special-request" name="SpecialRequest">
        </label>
        <br>
      </div>
      <div class="fa-request-options fa-request-hidden">
        <button type="button" id="fa-schedule-retrieval" class="btn btn-default fa-request-option" data-option="schedule-retrieval">Schedule Retrieval</button>
        <button type="button" id="fa-save-for-later" class="btn btn-default fa-request-option" data-option="save-for-later">Save for Later</button>
        <button type="button" id="fa-request-reproductions" class="btn btn-default fa-request-option" data-option="request-reproductions">Request Reproductions</button>
      </div>
      <br>
      <div class="fa-options" id="fa-schedule-retrieval-options">
          <label for="ScheduledDate">When do you plan on visiting the Breckinridge Research Room?</label>
          <input type="text" id="fa-datepicker" name="ScheduledDate" value="01/01/1900">
      </div>
      <div class="fa-options" id="fa-request-reproductions-options">
          <label for="ItemInfo3">Pages/Items to be Reproduced
              <input class="fa-request-reproductions-input" type="textarea" id="fa-pages" name="ItemInfo3">
          </label>
          <br>
          <label for="Format">Format</label>
              <select class="fa-request-reproductions-input" id="fa-format" name="Format">
                <option>Select one</option>
                <option value="A/V (may incur costs)">A/V (may incur costs)</option>
                <option value="JPG">JPG</option>
                <option value="PDF">PDF</option>
                <option value="TIFF">TIFF</option>
              </select>
          </label>
          <br>
          <label for="ServiceLevel">Intended Use
              <select class="fa-request-reproductions-input" id="fa-service-level" name="ServiceLevel">
                  <option>Select one</option>
                  <option value="Commercial/For-profit">Commercial/For-profit</option>
                  <option value="Educational/Non-profit">Educational/Non-profit</option>
                  <option value="For Publication">For Publication</option>
                  <option value="Other">Other</option>
                  <option value="Press/Journalism/Public Relations">Press/Journalism/Public Relations</option>
                  <option value="Social Media">Social Media</option>
              </select>
          </label>
          <br>
          <label for="ItemInfo4">Project Description
              <input class="fa-request-reproductions-input" type="textarea" id="fa-project" name="ItemInfo4">
          </label>
          <input type="hidden" id="fa-skip-estimate" name="SkipOrderEstimate" value="Yes">
      </div>
      <input type="hidden" name="RequestType" value="Loan">
      <input type="hidden" name="AeonForm" value="EADRequest">
      <input type="hidden" name="ItemTitle" value="{{title}}">
      <input type="hidden" name="EADNumber" value="{{call_number}}">
      <input type="hidden" name="GroupRequestsByLocation" value="Yes">
      <input type="hidden" name="GroupingIdentifier" value="ItemVolume">
      <input type="hidden" name="GroupingOption_ItemVolume" value="FirstValue">
      <input type="hidden" name="GroupingOption_ItemIssue" value="Concatenate">
      <input type="hidden" name="ItemInfo2" value="{{item_url}}">
      <input type="hidden" name="CallNumber" value="{{call_number}}">
      <input type="hidden" name="ItemDate" value="{{item_date}}">
      <input type="hidden" name="SubmitButton" value="Submit Request">
      <input type="hidden" name="SpecialRequest" value="">
      <button id="fa-request-submit" class="btn btn-success" type="submit" disabled="disabled">Submit Request</button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
{{=<% %>=}}
jQuery(document).ready(function () {
    requests.init({
        title: "<% title %>",
        button_active: "Selected",
        button_inactive: "Select",
        button_toc_active: "Selected",
        button_toc_inactive: "Select this collection"
    });
});
<%={{ }}=%>
</script>
