<div class="col-md-6 fa-toc fa-long">
  <div class="panel panel-default" id="{{id}}">
    <div class="panel-heading">
      <h4 class="panel-title">{{label}}</h4>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        {{#entries}}
        <li><a class="fa-toc-entry" href="#{{id}}">{{label}}</a>
          {{#subentries}}
          <ul>
            {{#contents_entries}}
            <li><a class="fa-toc-entry" href="#{{id}}">{{{label}}}</a></li>
            {{/contents_entries}}
          </ul>
          {{/subentries}}
        </li>
        {{/entries}}
      </ul>
      <ul class="list-unstyled">
        {{#links}}
        <li><a class="fa-toc-entry" href="{{url}}">{{label}}</a></li>
        {{/links}}
      </ul>
    </div>
  </div>
  {{#toc_component}}
  <div class="row">
    <ul class="list-unstyled">
      <li>
      {{summary}}
      <input type="hidden" class="fa-requestable fa-toc" id="{{id}}" value="{{container_list}}" data-volume="{{volume}}" data-container="{{container}}">
      </li>
    </ul>
  </div>
  {{/toc_component}}
  {{> harmful_language_statement}}
</div>
<script type="text/javascript">
{{=<% %>=}}
jQuery(document).ready(function () {
    function highlight_current() {
        $('.fa-toc-entry').each(function () {
            if ($(this).attr('href') === window.location.hash) {
                $(this).addClass('fa-toc-entry-highlight');
            }
            else {
                $(this).removeClass('fa-toc-entry-highlight');
            }
        });
    }

    $(window).on('hashchange', function () {
        highlight_current();
    });

    highlight_current();
});
</script>
