.fa-toc {
}

.fa-request.fa-requestable-toc {
    display: block;
    margin: 0 auto;
}

.fa-request.fa-requestable-contents {
    float: right;
}

.fa-request-summary {
}

.fa-request-summary-note {
    font-style: italic;
}

.fa-request-hidden {
    display: none;
}

.fa-hidden {
    display: none;
}

.fa-request-form {
    overflow: auto;
    background: #FDFDF6;
    padding: 20px;
    width: 600px;
    max-width: 100%;
    border-radius: 6px;
}

.fa-request-ul {
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 1em;
    height: 10em;
}

.fa-options {
    padding: 1em;
}

.fa-viewer {
    overflow: hidden;
    height: 100vh;
    overflow-y: scroll;
}

.fa-toc-entry-highlight {
    font-weight: bold;
}

.fa-taggable {
    width: 10em;
}

dd {
    margin-left: 0 !important;
    margin-bottom: 15px;
    margin-top: 5px;
}

label {
    font-weight: 300;
}

.hd {
    height: 3px;
    background-color: #0a3a5e;
}

.nav-tabs {
   float: right;
}

.container-fluid {
   width: 80% !important;
   background-color: #ffffff !important;
}

.panel-heading[data-toggle="collapse"] .panel-title:after {
    font-family: "Glyphicons Halflings";
    color: #666;
    float: right;
    content: "\e114";
}

.panel-heading[data-toggle="collapse"].collapsed .panel-title:after {
    content: "\e080";
}

.toplink {
    padding: 1em;
    float: right;
}

.click-to-load-images, .image-overflow {
    display: inline;
}

#viewer {
    background: black;
}

.viewer-control {
    background: transparent;
    display: inline;
    color: transparent;
    font-size: 8vh;
}

#viewer-img {
    height: 80vh;
}
