.fa-toc {
}

.fa-request {
    float: right;
}

.fa-request-summary {
}

.fa-request-summary-note {
    font-style: italic;
}

.fa-request-hidden {
    display: none;
}

.fa-request-form {
    overflow: auto;
    background: #FDFDF6;
    padding: 20px;
    width: 600px;
    max-width: 100%;
    border-radius: 6px;
}

.fa-request-ul {
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 1em;
    height: 10em;
}

.fa-options {
    padding: 1em;
}

.fa-viewer {
    overflow: hidden;
    height: 100vh;
    overflow-y: scroll;
}

.fa-toc-entry-highlight {
    font-weight: bold;
}
