.fa-toc {
}

.fa-request {
    float: right;
}

.fa-request-summary {
}

.fa-request-summary-note {
    font-style: italic;
}

.fa-request-hidden {
    display: none;
}

.fa-request-form {
    overflow: auto;
    background: #FDFDF6;
    padding: 20px;
    width: 600px;
    max-width: 100%;
    border-radius: 6px;
}

.fa-request-ul {
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 1em;
    height: 10em;
}

.fa-options {
    padding: 1em;
}

.fa-viewer {
    overflow: hidden;
    height: 100vh;
    overflow-y: scroll;
}

.fa-toc-entry-highlight {
    font-weight: bold;
}

.fa-taggable {
    width: 10em;
}

dd {
    margin-left: 0 !important;
    margin-bottom: 15px;
    margin-top: 5px;
}

label {
    font-weight: 300;
}

.hd {
    height: 3px;
    background-color: #0a3a5e;
}

.nav-tabs {
   float: right;
}

.container-fluid {
   width: 80% !important;
   background-color: #ffffff !important;
}

.useNote {
   /*background-image: url('../images/exclamation.png');  */
   background-repeat: no-repeat; 
   background-color:#fbedad;   
   background-position: 7px 5px;
   color: #666666; 
   padding: 5px 8px 3px 28px;  
   border: solid 1px #ebc579; 
   min-height: 30px; 
   font-size: 10px; 
   color:blue;
   float:right;
   width: 100%;
   margin-bottom: 12px;
}
