footer {
   background-color: #0a3a5e;
   color: #ffffff;
   font-weight: normal;
}

#connectWithUs {
    font-weight: 300;
    font-size: smaller;
    text-align: left;
    margin: 5px;
    float: left;
    width: 300px;
}
#connectWithUs img { border: none; margin-right: 8px; }

.footerPhone { float: left; }
#ccCopyright, #altCopyright {
    margin: 5px 5px 0 0;
    width: 500px;
    float: right;
    font-weight: 300;
    font-size: smaller;
    text-align: right;
}
#ccCopyright a:link, #altCopyright a:link,
#ccCopyright a:active, #altCopyright a:active {
    text-decoration: underline;
    color: #929292;
}
#ccCopyright a:hover, #altCopyright a:hover,
#ccCopyright a:visited, #altCopyright a:visited {
    text-decoration: none;
    color: #336699;
}
