<!doctype html>
<html>
<head>
  <title>{{title}}{{^title}}Welcome to ExploreUK{{/title}}</title>
  {{#css}}
  <link rel="stylesheet" href="{{href}}">
  {{/css}}
  {{#js}}
  <script src="{{href}}?hash={{hash}}"></script>
  {{/js}}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FPRYLHP028"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-FPRYLHP028', { 'anonymize_ip': true });
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23584444-4"></script>
</head>
<body>
  <div id="content">
  {{> maintenance_notice}}
  <div class='container-fluid'>
    <div class='row'>
      {{{content}}}
      <div class="tab-content">
        {{> advance_note}}
        {{> nav}}
        <div id="metadata" class="tab-pane fade active in">
          {{{toc}}}
        </div>
        <div id="access" class="tab-pane fade">
          {{{requests}}}
        </div>
      </div>
    </div>
  </div>
  </div>
  {{>footer}}
  {{>viewer}}
</body>
</html>
