<!doctype html>
<html>
<head>
  <title>{{title}}{{^title}}Welcome to ExploreUK{{/title}}</title>
  {{#css}}
  <link rel="stylesheet" href="{{href}}">
  {{/css}}
  {{#js}}
  <script src="{{href}}"></script>
  {{/js}}
</head>
<body>
  {{> nav}}
  <div id="content">
  <div class='container-fluid'>
    <div class='row'>
      {{{content}}}
      <div class="tab-content">
        <div id="metadata" class="tab-pane fade active in">
          {{{toc}}}
        </div>
        <div id="access" class="tab-pane fade">
          {{{requests}}}
        </div>
      </div>
    </div>
  </div>
  </div>
  <footer>
    <div id="connectWithUs">
      <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> (859) 257-8611<br>(Special Collections Research Center)</p>
    </div><!-- /connectWithUs -->
    <div id="ccCopyright"><!-- Start CC footer -->
    <p>University of Kentucky Libraries<br>Special Collections Research Center
    </p>
    </div><br clear="all"><!-- /ccCopyright -->
  </footer>
  <script type="text/javascript">
  $('.click-to-play-audio').click(function () {
    var href_id = $(this).attr('data-id');
    var href = $(this).attr('data-href');
    $(this).after('<audio id="' + href_id + '" src="' + href  + '" style="display:block, width: 305px; height: 30px;" width="305" height="30"></audio>');
    $('#' + href_id).mediaelementplayer();
    var player = new MediaElement(href_id);
    player.pause();
    player.setSrc(href);
    player.play();
    $(this).remove();
  });
  $('.click-to-play-video').click(function () {
    var href_id = $(this).attr('data-id');
    var href = $(this).attr('data-href');
    $(this).after('<video id="' + href_id + '" src="' + href  + '" style="display:block, width: 360px; height: 240px;" width="360" height="240"></audio>');
    $('#' + href_id).mediaelementplayer();
    var player = new MediaElement(href_id);
    player.pause();
    player.setSrc(href);
    player.play();
    $(this).remove();
  });
  </script>
</body>
</html>
