<footer>
    <div id="connectWithUs">
    <p><a href="https://libraries.uky.edu">University of Kentucky Libraries</a><br><a href="http://libraries.uky.edu/SC">Special Collections Research Center</a></p>
    </div><!-- /connectWithUs -->
    <div id="ccCopyright"><!-- Start CC footer -->
      <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> (859) 257-8611<br><a href="https://libraries.uky.edu/ContactSCRC">Contact SCRC</a><br>(<a href="http://libraries.uky.edu/SC">Special Collections Research Center</a>)</p>
    </div><br clear="all"><!-- /ccCopyright -->
</footer>
