{{#requestable}}
<footer>
    <div id="connectWithUs">
    <p><a href="https://libraries.uky.edu">University of Kentucky Libraries</a><br><a href="https://libraries.uky.edu/locations/special-collections-research-center">Special Collections Research Center</a></p>
    </div><!-- /connectWithUs -->
    <div id="ccCopyright"><!-- Start CC footer -->
      <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> (859) 257-8611<br><a href="https://libraries.uky.edu/ContactSCRC">Contact SCRC</a><br>(<a href="https://libraries.uky.edu/locations/special-collections-research-center">Special Collections Research Center</a>)</p>
    </div><br clear="all"><!-- /ccCopyright -->
</footer>
{{/requestable}}
{{^requestable}}
<footer class="kdl-footer">
<h1><a href="https://kdl.kyvl.org" target="_blank" rel="noopener">Kentucky Digital Library</a></h1>
<p>
A collaborative initiative of the Kentucky Virtual Library (KYVL) and other Kentucky institutions.
</p>
<p>
Find out more at <a href="https://www.kyvl.org/kdl" target="_blank" rel="noopener">https://www.kyvl.org/kdl</a> |
Contact us at <a href="mailto:kdl-help@lsv.uky.edu">kdl-help@lsv.uky.edu</a>
</p>
</footer>
{{/requestable}}
