<footer>
  <div id="connectWithUs">
    <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> (859) 257-8611<br>(Special Collections Research Center)</p>
  </div><!-- /connectWithUs -->
  <div id="ccCopyright"><!-- Start CC footer -->
  <p>University of Kentucky Libraries<br>Special Collections Research Center
  </p>
  </div><br clear="all"><!-- /ccCopyright -->
</footer>
