<div class="clearfix">
<p><strong><span style="font-size:16px;"><span style="color:#0000cd;">Scheduled Maintenance at SCRC to Begin September 5</span>&nbsp;</span></strong><span style="font-size:16px;">- <a href="https://libraries.uky.edu/news/scheduled-maintenance-scrc-begin-september-5">find more information here</a></span></p>
</div>
