<div id="hd" class="hd"></div>
{{> search}}
<div>
  {{> repo}}
{{#requestable}}
  <ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#metadata" aria-expanded="true">Table of Contents</a>
    </li>
    <li>
        <a data-toggle="tab" href="#access" aria-expanded="false">Requests</a>
    </li>
  </ul>
{{/requestable}}
</div>
