<div class="alert in-page-alert in-page-alert--amber">
  <div class="icon-wrapper">
    {{> information_icon}}
  </div>
  <div>
    <h2>Available for scanning only</h2>
    <div class="message">
      <p>During the King Library renovation, this collection cannot be viewed in person. Use the Requests section to request reproductions.</p>
    </div>
  </div>
</div>
