<div id="buttons">
  <label for="search">Find:&nbsp;&nbsp; </label><input style="color:#000000;" type="text" size="20" id="search">
  <input type="hidden" id="regex"> 
  <input type="checkbox" id="caseSensitive"> <label for="caseSensitive">case-sensitive</label>
  <input type="hidden" id="wholeWordsOnly"> 
</div>

<script type="text/javascript">
$(document).ready(function () {
    rangy.init();
    initFind();
});
</script>
