<!-- universal header/footer metadata start -->
<meta name = "hdr.simple" content = "0" />
<meta name = "hdr.include" content = "1" />
<meta name = "hdr.home.label" content = "ExploreUK" />
<meta name = "hdr.home.link" content = "https://exploreuk.uky.edu/" />
<meta name = "hdr.link1.label" content = "" />
<meta name = "hdr.link1.url" content = "" />
<meta name = "hdr.link2.label" content = "" />
<meta name = "hdr.link2.url" content = "" />
<meta name = "hdr.link3.label" content = "" />
<meta name = "hdr.link3.url" content = "" />
<meta name = "hdr.link4.label" content = "" />
<meta name = "hdr.link4.url" content = "" />
<meta name = "hdr.link5.label" content = "" />
<meta name = "hdr.link5.url" content = "" />
<meta name = "hdr.link6.label" content = "" />
<meta name = "hdr.link6.url" content = "" />
<meta name = "hdr.srch.include" content = "0" />
<meta name = "hdr.width" content = "100" />
<meta name = "hdr.alert.include" content = "0" />
<meta name = "hdr.alert.title" content = "" />
<meta name = "hdr.alert.msg" content = "" />
<meta name = "hdr.alert.url.label" content = "" />
<meta name = "hdr.alert.url" content = "" />
<!-- universal header/footer metadata end -->

<!-- universal header/footer files start -->
<link rel="stylesheet" href="https://lib.uky.edu/webparts/ukhdr/2024/css/global_header_footer.css" media="all">
<script src="https://lib.uky.edu/webparts/ukhdr/2024/js/universalheader.js"></script>
<!-- universal header/footer files end -->