<div id="viewer" class="lity-hide">
    <div class="viewer-control viewer-prev"><span class="big-button glyphicon glyphicon-chevron-left" aria-disabled="true"></span></div>
    <img id="viewer-img" src="images/loading.gif">
    <div class="viewer-control viewer-next"><span class="big-button glyphicon glyphicon-chevron-right" aria-disabled="true"></span></div>
</div>
