<div id="viewer" class="lity-hide viewer">
    <button type="button" class="viewer-control viewer-prev" aria-label="Previous image"><span class="ic ic--angle-left" aria-hidden="true"></span></button>
    <img id="viewer-img" src="images/loading.gif" alt="">
    <button type="button" class="viewer-control viewer-next" aria-label="Next image"><span class="ic ic--angle-right" aria-hidden="true"></span></button>
</div>
